.app83c61627e887eaeb-image-gallery {
		
}

.app83c61627e887eaeb-image-gallery h3 {
	text-align: center
}

.app83c61627e887eaeb-image-gallery > ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.app83c61627e887eaeb-image-gallery > ul > li {
	margin-bottom: 0;
	width: 100%;
	/* float: left; */
}

.app83c61627e887eaeb-image-gallery > ul > li > a {
	display: block;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	position: relative;
}

.app83c61627e887eaeb-image-gallery .insta-image {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

.app83c61627e887eaeb-image-gallery .insta-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	z-index: 3;
	color: white;
	padding: 1em;
	overflow: hidden;
	opacity: 0;
	visibility: hidden;
	transition: all 300ms ease;
	text-align: center;

	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	line-height: 1;
	font-weight:300;
}

.app83c61627e887eaeb-image-gallery .insta-content {
	width: 80%;
	margin: 0 auto;
	position: relative;
	margin-top: 50%;
	transform: translateY(-50%);
}

.app83c61627e887eaeb-image-gallery .insta-info-counter {
	display: inline-block;
}

.app83c61627e887eaeb-image-gallery .insta-info-counter + .insta-info-counter {
	margin-left: 10px;
}

.app83c61627e887eaeb-image-gallery .insta-info-description {
	display: block;
	padding-top: 1.5em;
	width: 100%;
    height: 0;
    padding-bottom: 46px;
    overflow: hidden;
    position: relative;
    font-size: 12px;
    line-height: 1.3;
}


.app83c61627e887eaeb-image-gallery svg {
	fill: white;
	width: 20px;
	vertical-align: middle;
}

/* --- Hover effects ---*/
.app83c61627e887eaeb-image-gallery > ul > li:hover .insta-overlay {
	opacity: 1;
	visibility: visible;
}

/* --- Define the size ---*/
.app83c61627e887eaeb-image-gallery.row-of-3 > ul > li {
	width: 33.33%;
}
.app83c61627e887eaeb-image-gallery.row-of-4 > ul > li {
	width: 25%;
}
.app83c61627e887eaeb-image-gallery.row-of-5 > ul > li {
	width: 20%;
}
.app83c61627e887eaeb-image-gallery.row-of-6 > ul > li {
	width: 16.66%;
}

@media (max-width: 991px){
	.app83c61627e887eaeb-image-gallery > ul > li {
		width: 33.33% !important;
	}
}

@media (max-width: 767px){
	.app83c61627e887eaeb-image-gallery > ul > li {
		width: 50% !important;
	}
}

@media (max-width: 400px){
	.app83c61627e887eaeb-image-gallery > ul > li {
		width: 50% !important;
	}
}
